@model Admin.Models.ImportProcessingRuleTransactionImportType.EditViewModel
@{
    ViewBag.Title = "Edit transaction type link";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        Edit transaction import type link
        <div class="sub header">
            Details
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "ImportProcessingRuleTransactionImportType", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ImportProcessingRuleId)

    <div class="ui form">

        <div class="four wide field">
            @Html.LabelFor(m => m.TransactionImportTypeId)
            <div class="ui search selection dropdown transaction-import-types-dropdown">
                @Html.HiddenFor(x => x.TransactionImportTypeId, new { size = 4 })
                <i class="dropdown icon"></i>
                <div class="default text no-overflow">Select transaction import type</div>
                <div class="menu">
                    @foreach (var item in Model.TransactionImportTypes.Items)
                    {
                        <div class="item" data-value="@item.Value">
                            @item.Text
                        </div>
                    }
                </div>
            </div>
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.TransactionImportTypes)
            </div>
        </div>
        
        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "ImportProcessingRuleTransactionImportType", null, new { @class = "ui button" })

    </div>

}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('.transaction-import-types-dropdown').dropdown();

        });
    </script>

}