@model Admin.Models.ImportProcessingRuleCondition.EditViewModel
@{
    ViewBag.Title = "CreEditate import processing rule condition";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        Edit import processing rule condition
        <div class="sub header">
            Import processing rule condition details
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "ImportProcessingRuleCondition", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ImportProcessingRuleId)

    <div class="ui form">
        <div class="fields">

            @if (!Model.IsFirstItemInTheGroup)
            {
                <div class="inline field">
                    <div class="ui search selection dropdown fields-dropdown">
                        @Html.HiddenFor(x => x.LogicalOperator, new { size = 4 })
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow">Select logical operator</div>
                        <div class="menu">
                            @foreach (var item in Model.LogicalOperators.Items)
                            {
                                var dataAttributes = item.DataAttributes.Aggregate("", (current, attribute) => current + ("data-" + attribute.Key.ToLower() + "=" + attribute.Value + " "));

                                <div class="item" data-value="@item.Value" @dataAttributes>
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form__element--error">
                        @Html.ValidationMessageFor(m => m.LogicalOperator)
                    </div>
                </div>
            }

            <div class="inline field">
                @Html.LabelFor(m => m.ImportProcessingRuleFieldId)
                <div class="ui search selection dropdown fields-dropdown">
                    @Html.HiddenFor(x => x.ImportProcessingRuleFieldId, new { size = 4 })
                    <i class="dropdown icon"></i>
                    <div class="default text no-overflow">Select type</div>
                    <div class="menu">
                        @foreach (var item in Model.Fields.Items)
                        {
                            var dataAttributes = item.DataAttributes.Aggregate("", (current, attribute) => current + ("data-" + attribute.Key.ToLower() + "=" + attribute.Value + " "));

                            <div class="item" data-value="@item.Value" @dataAttributes>
                                @item.Text
                            </div>
                        }
                    </div>
                </div>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.ImportProcessingRuleFieldId)
                </div>
            </div>

            <div class="inline field">
                <label>must</label>
                <div class="ui search selection dropdown fields-dropdown">
                    @Html.HiddenFor(x => x.ImportProcessingRuleOperatorId)
                    <i class="dropdown icon"></i>
                    <div class="default text no-overflow">Select type</div>
                    <div class="menu">
                        @foreach (var item in Model.Operators.Items)
                        {
                            var dataAttributes = item.DataAttributes.Aggregate("", (current, attribute) => current + ("data-" + attribute.Key.ToLower() + "=" + attribute.Value + " "));

                            <div class="item" data-value="@item.Value" @dataAttributes>
                                @item.Text
                            </div>
                        }
                    </div>
                </div>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.ImportProcessingRuleOperatorId)
                </div>
            </div>

            <div class="inline field">
                <label>value</label>
                @Html.EditorFor(m => m.Value)
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.Value)
                </div>
            </div>
        </div>
        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "ImportProcessingRule", null, new { @class = "ui button" })

    </div>

}

@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.fields-dropdown').dropdown();

        });
    </script>

}