@model Admin.Models.UserTemplate.EditViewModel
@{
    ViewBag.Title = "Edit user templates";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        User templates
        <div class="sub header">
            Template selection
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "UserTemplate", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)

    if (Model.Templates != null && Model.Templates.Any())
    {
        <table class="ui celled table striped teal">
            <thead>
                <tr>
                    <th>
                        Templates
                    </th>
                </tr>
            </thead>

            @{ var templates = Model.Templates.ToList(); }

            @for (var i = 0; i < templates.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => templates[i].Id)
                        @Html.HiddenFor(x => templates[i].Text)
                        @Html.CheckBoxFor(x => templates[i].IsChecked)
                        @Html.DisplayFor(x => templates[i].Text)
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <div class="ui info message">
            No available templates
        </div>
    }

    <input type="submit" value="Save" class="ui primary button" />
    @Html.ActionLink("Back", "Back", "UserTemplate", null, new { @class = "ui button" })

}
