@model Admin.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@section Messages {
    @Html.ValidationSummary(true, "Unable to process request:", new { @class = "alert alert-danger mt-3" })
}

@section Header { @ViewBag.Title }

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row mb-3">
        <div class="col col-sm-6 col-md-5 col-lg-4">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="submit" value="Email link" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
