@using Admin.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Messages {
    @Html.ValidationSummary(true, "Unable to log you in:")
}

@section Header { <h1>@ViewBag.Title</h1> }


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row mb-3">
        <div class="col col-sm-6 col-md-5 col-lg-4">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col col-sm-6 col-md-5 col-lg-4">
            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", })
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col col-sm-6 col-md-5 col-lg-4">
            <div class="form-check form-switch">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input", role = "switch" })
            </div>
            @Html.LabelFor(m => m.RememberMe, new { @class = "form-label" })
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.RememberMe)
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="submit" value="Log in" class="btn btn-primary" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            @Html.ActionLink("Register as a new user", "Register", null, new { @class = "btn btn-secondary" })        
            @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
