@using Admin.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Messages {
    @Html.ValidationSummary(true, "Unable to log you in:", new { @class = "ui error message" })
}

@section Header {
    <h1 class="ui header">
        @ViewBag.Title
    </h1>
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="ui form">

        <div class="four wide field">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="four wide field ui checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.RememberMe)
            </div>
        </div>

        <div class="four wide field">
            <input type="submit" value="Log in" class="ui primary button" />
        </div>

        <div class="four wide field">
            @Html.ActionLink("Register as a new user", "Register")
        </div>

        <div class="four wide field">
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
