@model Admin.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

@section Messages {
    @Html.ValidationSummary(true, "Unable to reset your password:", new { @class = "ui error message" })
}

@section Header {
    <h1 class="ui header">
        @ViewBag.Title
    </h1>
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)

    <div class="ui form">

        <h2>Reset your password</h2>

        <div class="four wide field">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.EditorFor(m => m.ConfirmPassword)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="four wide field">
            <input type="submit" value="Reset" class="ui primary button" />
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
