@model Admin.Models.TransactionImportTypeImportProcessingRule.EditViewModel
@{
    ViewBag.Title = "Create import processing rule link";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        Create import processing rule link
        <div class="sub header">
            Details
        </div>
    </h1>
}

@using (Html.BeginForm("Create", "TransactionImportTypeImportProcessingRule", FormMethod.Post))
{
    <div class="ui form">
        
        @Html.HiddenFor(m => m.TransactionImportTypeId)

        <div class="four wide field">
            @Html.LabelFor(m => m.ImportProcessingRuleId)
            <div class="ui search selection dropdown import-processing-rules-dropdown">
                @Html.HiddenFor(x => x.ImportProcessingRuleId, new { size = 4 })
                <i class="dropdown icon"></i>
                <div class="default text no-overflow">Select import processing rule</div>
                <div class="menu">
                    @foreach (var item in Model.ImportProcessingRules.Items)
                    {
                        <div class="item" data-value="@item.Value">
                            @item.Text
                        </div>
                    }
                </div>
            </div>
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.ImportProcessingRules)
            </div>
        </div>

        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "TransactionImportTypeImportProcessingRule", null, new { @class = "ui button" })

    </div>

}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('.import-processing-rules-dropdown').dropdown();

        });
    </script>
}
