@model Admin.Models.AccountReferenceValidator.DetailsViewModel
@{
    ViewBag.Title = "Account reference validator";
}

@section Header { @Model.Name }

@section Subheader { Account reference validator details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}

<div>

    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        @Html.LabelFor(m => m.Name, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.MinLength, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.MinLength)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.MaxLength, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.MaxLength)
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.Regex))
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.Regex, new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.Regex)
            </div>
        </div>
    }

    <div class="mb-3">
        @Html.LabelFor(m => m.InputMask, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.InputMask)
        </div>
    </div>

    @if (Model.CharacterType.HasValue)
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.CharacterType, new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.CharacterType)
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.CheckDigitConfigurationName))
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.CheckDigitConfigurationName, new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.CheckDigitConfigurationName)
            </div>
        </div>
    }

    @Html.ActionLink("Back", "Back", "AccountReferenceValidator", null, new { @class = "btn btn-secondary" })

</div>
