@model Admin.Models.Role.EditViewModel
@{
    ViewBag.Title = "Edit role";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        @Model.DisplayName
        <div class="sub header">
            Role details
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "Role", FormMethod.Post))
{

    @Html.HiddenFor(m => m.Id)

    <div class="ui form">

        <div class="four wide field">
            @Html.LabelFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.DisplayName)
            @Html.EditorFor(m => m.DisplayName)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.DisplayName)
            </div>
        </div>

        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "Role", null, new { @class = "ui button" })

    </div>

}
