@model PaymentPortal.Models.Payment.PaymentAddress

@{
    ViewBag.FormTitle = "Make a payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panels">    
    <div class="grid grid--gutters">
        <div class="container container--page">
        @using (Html.BeginForm("Address", "Payment", FormMethod.Post))
        {
            <div class="flex__container">

                    <div class="panel panel--details">
                        <fieldset>
                        
                            <legend>Billing Address</legend>                        
                        
                            <div>
                                @Html.LabelFor(m => m.PayeeName)
                                @Html.TextBoxFor(m => m.PayeeName, new { maxlength = "50", size = "20" })
                            </div>
                            <div class="form__element--error">
                                @Html.ValidationMessageFor(m => m.PayeeName)
                            </div>

                            <div>
                                @Html.LabelFor(m => m.HouseNumberOrName)
                                @Html.TextBoxFor(m => m.HouseNumberOrName, new { maxlength = "50", size="20" })
                            </div>
                            <div class="form__element--error">
                                @Html.ValidationMessageFor(m => m.HouseNumberOrName)
                            </div>
                            <div>
                                @Html.LabelFor(m => m.Street)
                                @Html.TextBoxFor(m => m.Street, new { maxlength = "50", size="40" })
                            </div>
                            <div class="form__element--error">
                                @Html.ValidationMessageFor(m => m.Street)
                            </div>
                            <div>
                                @Html.LabelFor(m => m.City)
                                @Html.TextBoxFor(m => m.City, new { maxlength = "50", size = "25" })
                            </div>
                            <div class="form__element--error">
                                @Html.ValidationMessageFor(m => m.City)
                            </div>
                            <div>
                                @Html.LabelFor(m => m.PostCode)
                                @Html.TextBoxFor(m => m.PostCode, new { maxlength = "10", size = "8" })
                            </div>
                            <div class="form__element--error">
                                @Html.ValidationMessageFor(m => m.PostCode)
                            </div>

                            <div>
                                <button id="Cancel" value="Cancel" name="action" type="submit" class="button button--default">Cancel</button>
                                <button id="Next" value="SaveAddress" name="action" type="submit" class="button button--default button--primary">Next</button>
                            </div>
                        </fieldset>
                    </div>
                <div style="clear: both;"></div>
            </div>
        }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/app/payment")
}