@using Microsoft.Ajax.Utilities
@model Admin.Models.Transaction.DetailsViewModel
@{
    ViewBag.Title = "Transaction";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { @Model.Transaction.PspReference }

@section Subheader { Transaction details }

@section Actions {
    @if (!string.IsNullOrEmpty(Model.Transaction.ParentPspReference))
    {
        @Html.ActionLink("Origin", "Origin", new { id = Model.Transaction.ParentPspReference }, new { @class = "btn btn-warning" })
    }

    @if (Model.Transaction.SuspenseId.HasValue)
    {
        @Html.ActionLink("View suspense", "Details", "Suspense", new { id = Model.Transaction.SuspenseId }, new { @class = "btn btn-warning" })
    }

    @if (User.IsInRole(Role.TransactionRefund) && Model.IsRefund == false)
    {
        if (Model.Transaction.RefundEnabled)
        {
            <a href="#" class="btn btn-danger refund" id="refund">
                <i class="reply icon"></i> Refund
            </a>
        }
        else
        {
            <div class="btn btn-danger" disabled="true" data-tooltip="A refund is already in progress" data-position="left center">
                <i class="reply icon"></i> Refund
            </div>
        }
    }

    <button id="email-receipt" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailReceiptModal">
        Email receipt
    </button>

    @*<a href="#" class="btn btn-primary email-receipt" id="email-receipt">
            <i class="mail outline icon"></i> Email receipt
        </a>*@

    <a href="@Url.Action("Receipt", new {id = Model.Transaction.PspReference })" class="btn btn-secondary print-receipt" id="print-receipt">
        <i class="print outline icon"></i> Print receipt
    </a>
}

@Html.HiddenFor(m => m.Transaction.PspReference)

<div class="mb-3">
    @Html.Partial("_Header", Model)
</div>

<div class="d-flex flex-wrap mb-3">
    <div class="me-auto p-0">
        <h2>
            Payments
        </h2>
    </div>
</div>

<div class="mb-3">
    @Html.Partial("_PaymentsList", Model)
</div>

@if (Model.Transaction.CreditNotes.Any())
{
    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h2>
                Credit Notes
            </h2>
        </div>
    </div>

    @Html.Partial("_CreditNoteList", Model)
}

@if (Model.Transaction.ProcessedRefunds.Any() || Model.Transaction.PendingRefunds.Any() || Model.Transaction.FailedRefunds.Any())
{
    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h2>
                Refunds
            </h2>
        </div>
    </div>

    @Html.Partial("_RefundList", Model)
}

@if (Model.Transaction.Transfers.Any())
{
    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h2>
                Journals
            </h2>
        </div>
    </div>

    @Html.Partial("_TransferList", Model)

}

@{ Html.RenderPartial("_EmailReceipt", new Admin.Models.Transaction.EmailReceiptViewModel()); }

@if (User.IsInRole(Role.TransactionRefund) && Model.Transaction.RefundEnabled)
{
    Html.RenderPartial("_Refund", Model.Refund);
}

@if (User.IsInRole(Role.TransactionJournal))
{
    <div id="transfer-details">
        @Html.Action("_Transfer", new { id = Model.Transaction.PspReference })
    </div>
}

@Html.ActionLink("Back", "Back", "Transaction", null, new { @class = "btn btn-secondary" })

@section Scripts {
    @Scripts.Render("~/bundles/app/transaction")

    <script type="text/javascript">
        $(document).ready(function () {
            transcationDetails.mainPspReference = '@Model.Transaction.PspReference';
        });
    </script>
}
