@model Admin.Models.ImportType.EditViewModel
@{
    ViewBag.Title = "Create import type";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        Create import type
        <div class="sub header">
            Import type details
        </div>
    </h1>
}

@using (Html.BeginForm("Create", "ImportType", FormMethod.Post))
{

    <div class="ui form">

        <div class="four wide field">
            @Html.LabelFor(m => m.DataType)
            @Html.EnumDropDownListFor(m => m.DataType)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.DataType)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Description)
            @Html.EditorFor(m => m.Description)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.ExternalReference)
            @Html.EditorFor(m => m.ExternalReference)
        </div>

        <div class="field">
            @Html.LabelFor(m => m.IsReversible)
            <div class="ui segment compact search__toggle">
                <div class="ui fitted toggle checkbox">
                    @Html.CheckBoxFor(m => m.IsReversible)
                </div>
            </div>
        </div>

        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "ImportType", null, new { @class = "ui button" })

    </div>

}

@section Scripts {
    <script type="text/javascript">
        $('.ui.checkbox').checkbox({});
    </script>  
}
