@model Admin.Models.ImportType.DetailsViewModel
@{
    ViewBag.Title = "Import type";
}

@section Header {
    <h1 class="ui header">
        @Model.Name
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "ui blue button right floated" })
        <div class="sub header">
            Import type details
        </div>
    </h1>
}

<div class="ui form">

    <div class="four wide field">
        @Html.LabelFor(m => m.DataType)
        @Html.DisplayFor(m => m.DataType)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.Name)
        @Html.DisplayFor(m => m.Name)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.Description)
        @Html.DisplayFor(m => m.Description)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.ExternalReference)
        @Html.DisplayFor(m => m.ExternalReference)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.IsReversible)
        @Html.DisplayFor(m => m.IsReversible)
    </div>

    <div class="ui vertical segment">
        <h3>
            Import processing rules
        </h3>
        @Html.Action("_List", "ImportTypeImportProcessingRule", new { id = Model.Id })
    </div>

    <br />

    @Html.ActionLink("Back", "Back", "ImportType", null, new { @class = "ui button" })

</div>