@model Admin.Models.ImportType.DetailsViewModel
@{
    ViewBag.Title = "Import type";
}


@section Header { @Model.Name }

@section Subheader { Import type details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}

<div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Id, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Id)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.DataType, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.DataType)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Name, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Description, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ExternalReference, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.ExternalReference)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.IsReversible, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Model.IsReversible.ToYesNoString()
        </div>
    </div>

    <div class="mb-3">
        <h2>
            Import processing rules
        </h2>
        @Html.Action("_List", "ImportTypeImportProcessingRule", new { id = Model.Id })
    </div>


    @Html.ActionLink("Back", "Back", "ImportType", null, new { @class = "btn btn-secondary" })

</div>