@using PagedList.Mvc

@model Admin.Models.ImportType.ListViewModel
@{
    ViewBag.Title = "Import Types";
}


@section Header { Import types }

@section Subheader { Import type management }

@section Actions {
    @Html.ActionLink("Create type", "Create", new { }, new { @class = "btn btn-secondary" })
}

<div class="border border-1 rounded p-2">
    @Html.Partial("_Search", Model.SearchCriteria)
</div>

@if (Model.Items != null && Model.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">
                        Data type
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Description
                    </th>
                    <th scope="col">
                        External reference
                    </th>
                    <th scope="col">
                        Is reversible
                    </th>
                    <th scope="col">
                        <span class="visually-hidden">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @(((ImportDataTypeEnum)item.DataType).GetDisplayName())
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ExternalReference)
                        </td>
                        <td>
                            @item.IsReversible.ToYesNoString()
                        </td>
                        <td class="text-end">
                            @Html.ActionLink("View", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="ui pagination menu">
                            @if (Model.Pages > 1)
                            {
                                @Html.PagedListPager(Model.Items, page => Url.Action("Search", new
                                {
                                    Page = page,
                                    Name = Model.SearchCriteria.Name,
                                    ExternalReference = Model.SearchCriteria.ExternalReference,
                                    DataType = Model.SearchCriteria.DataType,
                                }))
                            }
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    Html.RenderPartial("_NoResultsMessage", "import types");
}

@section Scripts {
    <script type="text/javascript">$(document).ready(function () {

            accessibleAutocomplete.enhanceSelectElement({
                displayMenu: 'overlay',
                autoSelect: false,
                confirmOnBlur: false,
                showAllValues: true,
                defaultValue: '',
                preserveNullOptions: true,
                placeholder: 'Select import type',
                dropdownArrow: () => paymentsAdmin.controls.autocomplete.downarrow,
                selectElement: document.querySelector('#ImportType')
            });

        });</script>
}
