@model Admin.Models.MethodOfPayment.EditViewModel
@{
    ViewBag.Title = "Edit MOP";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        @Model.Name
        <div class="sub header">
            Method of Payment details
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "MethodOfPayment", FormMethod.Post))
{
    <div class="ui form">

        <div class="ui vertical segment">

            <div class="four wide field">
                @Html.LabelFor(m => m.Code)
                @Html.DisplayFor(m => m.Code)
                @Html.HiddenFor(m => m.Code)
            </div>

            <div class="four wide field">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="four wide field">
                @Html.LabelFor(m => m.MaximumAmount)
                @Html.EditorFor(m => m.MaximumAmount)
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.MaximumAmount)
                </div>
            </div>

            <div class="four wide field">
                @Html.LabelFor(m => m.MinimumAmount)
                @Html.EditorFor(m => m.MinimumAmount)
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.MinimumAmount)
                </div>
            </div>

            <div class="four wide field">
                @Html.LabelFor(m => m.IsDisabled)
                @Html.EditorFor(m => m.IsDisabled)
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.IsDisabled)
                </div>
            </div>

        </div>

        <div class="ui vertical segment">
            <h2 style="padding-bottom:10px;">
                Metadata
                @Html.ActionLink("Add metadata", "Create", "MethodOfPaymentMetadata", new { mopCode = Model.Code }, new { @class = "ui blue button right floated" })
            </h2>
            @Html.Action("_EditListForMethodOfPayment", "MethodOfPaymentMetadata", new { mopCode = Model.Code })

        </div>

        <br />

        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "MethodOfPayment", null, new { @class = "ui button" })

    </div>
}
