@model Admin.Models.Suspense.DetailsViewModel

@if (Model.AllocatedPayments != null && Model.AllocatedPayments.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-2 ui-payments-table">
            <thead>
                <tr>
                    <th scope="col">Date and time</th>
                    <th scope="col">PSP reference</th>
                    <th scope="col">Amount (£)</th>
                    <th scope="col">Account reference</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paymentLine in Model.AllocatedPayments)
                {
                    <tr>
                        <td>@paymentLine.CreatedAt</td>
                        <td>@Html.ActionLink(paymentLine.TransactionIn.PspReference, "Details", "Transaction", new { id = paymentLine.TransactionIn.PspReference }, null)</td>
                        <td class="text-end @if (paymentLine.Amount < 0) { @Html.Raw("td--negative") }">
                            @Html.ToCurrency(paymentLine.Amount)
                        </td>
                        <td>@paymentLine.TransactionIn.AccountReference</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    Html.RenderPartial("_NothingSpecified", "journals");
}