@model Admin.Models.Suspense.JournalViewModel

@if (User.IsInRole(Role.Finance))
{
    <div id="transfer-dialog" class="ui modal">

        <div class="header">
            Create journal
        </div>

        <div class="ui info message" style="margin: 1rem;">
            <p>There is <strong>£<span id="amount-available-to-transfer">0</span></strong> available to journal</p>
        </div>

        <div class="ui error message transfer-message" style="margin: 1rem; display:none;">
            <div class="header transfer-message-header">Unable to add the journal</div>
            <p class="header transfer-message-text"></p>
        </div>

        <div class="content ui">

            <div class="ui form">
                <div class="fields">

                    <div class="ui four wide field">
                        <label for="JournalItem_FundCode">Fund type</label>
                        <div class="ui fluid search selection dropdown js-fund">
                            @Html.Hidden("JournalItem_FundCode")
                            <i class="dropdown icon"></i>
                            <div class="default text no-overflow" style="width: 100px;">Select fund type</div>
                            <div class="menu">
                                <div class="item" data-value="">
                                    Fund
                                </div>
                                @foreach (var item in Model.Funds.Items)
                                {
                                    var dataAttributes = item.DataAttributes.Aggregate("", (current, attribute) => current + ("data-" + attribute.Key.ToLower() + "=" + attribute.Value + " "));
                                    <div class="item" data-value="@item.Value" @dataAttributes>
                                        @item.Text
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="ui four wide field">
                        <label for="JournalItem_MopCode">MOP code</label>
                        <div class="ui fluid search selection dropdown js-mop">
                            @Html.Hidden("JournalItem_MopCode", Model.DefaultJournalReallocationMopCode)
                            <i class="dropdown icon"></i>
                            <div class="default text no-overflow" style="width: 100px;">Select MOP code</div>
                            <div class="menu">
                                <div class="item" data-value="">
                                    MOP code
                                </div>
                                @foreach (var item in Model.MopCodes.Items)
                                {
                                    <div class="item" data-value="@item.Value">
                                        @item.Text
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="ui four wide field">
                        <label for="JournalItem_AccountReference">Account reference</label>
                        @Html.TextBoxFor(m => m.JournalItem.AccountReference, new { @placeholder = "Enter account reference", @maxlength = 16 })
                        @Html.ValidationMessageFor(x => x.JournalItem.AccountReference)
                    </div>

                    <div class="ui four wide field">
                        <label for="JournalItem_VatCode">VAT code</label>
                        <div class="ui fluid search selection dropdown js-vat">
                            @Html.Hidden("JournalItem_VatCode")
                            <i class="dropdown icon"></i>
                            <div class="default text no-overflow" style="width: 100px;">Select VAT code</div>
                            <div class="menu">
                                <div class="item" data-value="">
                                    VAT code
                                </div>
                                @foreach (var item in Model.VatCodes.Items)
                                {
                                    <div class="item" data-value="@item.Value">
                                        @item.Text
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="ui four wide field">
                        <label for="JournalItem_Amount">Amount</label>
                        <div class="ui labeled input">
                            <label class="ui label" for="amount">£</label>
                            @Html.TextBoxFor(m => m.JournalItem.Amount, null, new { @placeholder = "0.00", @class = "monetary-amount" })
                            @Html.ValidationMessageFor(x => x.JournalItem.Amount)
                        </div>
                    </div>

                    <div class="ui four wide field">
                        <label for="JournalItem_NArrative">Narrative</label>
                        <div class="ui input">
                            @Html.TextBoxFor(m => m.JournalItem.Narrative, null, new { @placeholder = "Enter narrative" })
                            @Html.ValidationMessageFor(x => x.JournalItem.Narrative)
                        </div>
                    </div>

                    <div class="ui two wide field">
                        <label>&nbsp;</label>
                        <button class="ui right blue button add-transfer">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <table id="transfer-table" class="ui celled table striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Fund</th>
                        <th scope="col" style="width: 20%;">MOP</th>
                        <th scope="col" style="width: 10%;">Account</th>
                        <th scope="col">Name</th>
                        <th scope="col">Balance</th>
                        <th scope="col" style="width: 10%;">VAT</th>
                        <th scope="col" style="width: 15%;">Amount (£)</th>                        
                        <th scope="col" style="width: 10%;">Narrative</th>
                        <th scope="col" style="width: 8%;"></th>
                    </tr>
                </thead>
                <tbody id="transfer-table-body"></tbody>
            </table>

        </div>

        <div class="actions">
            <div class="ui black deny button cancel-transfer">
                Cancel
            </div>

            <button type="submit" class="ui positive right labeled icon button submit-transfer">
                Submit journal
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
}
