@model Admin.Models.Suspense.SearchCriteria

@using (Html.BeginForm("Search", "Suspense", FormMethod.Get))
{


    <div class="ui segment">
        <div class="ui form">
            <div class="six fields">

                <div class="field">
                    <label>Start date</label>
                    <div class="ui input left icon" style="min-width: 160px;">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.TransactionDateFrom, new { size = 10, placeholder = "Start date", type = "date", style = "min-width:145px;" })
                    </div>
                </div>

                <div class="field">
                    <label>End date</label>
                    <div class="ui input left icon" style="min-width: 160px;">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.TransactionDateTo, new { size = 10, placeholder = "End date", type = "date", style = "min-width:145px;" })
                    </div>
                </div>

                <div class="field">
                    <label>Amount</label>
                    @Html.TextBoxFor(m => m.Amount, new { size = 6, style = "min-width:80px;", placeholder = "Enter amount", @class = "monetary-amount" })
                </div>

                <div class="field">
                    <label>Narrative</label>
                    @Html.TextBoxFor(m => m.Narrative, new { size = 10, placeholder = "Enter narrative" })
                </div>

                <div class="field">
                    <label>Show all</label>
                    <div class="ui toggle checkbox">
                        @Html.CheckBoxFor(m => m.ShowAll)
                    </div>
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui icon blue button right floated" tabindex="0" type="submit">
                        <i class="search icon"></i> Search
                    </button>
                </div>

            </div>
        </div>
    </div>
}

<script>
    $('.ui.dropdown').dropdown({
        match: 'both'
    });

</script>