@model Admin.Models.Suspense.SearchCriteria

@using (Html.BeginForm("Search", "Suspense", FormMethod.Get))
{

    <div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                @Html.LabelFor(m => m.TransactionDateFrom, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.TransactionDateFrom, new { @class = "form-control", placeholder = "Start date", type = "date" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-sm-0">
                @Html.LabelFor(m => m.TransactionDateTo, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.TransactionDateTo, new { @class = "form-control", placeholder = "Start date", type = "date" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-md-0">
                @Html.LabelFor(m => m.Amount, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Enter amount" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-3 pt-2 pt-lg-0">
                @Html.LabelFor(m => m.Narrative, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Narrative, new { @class = "form-control", placeholder = "Enter narrative" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-3 pt-2 pt-xxl-0">
                @Html.LabelFor(m => m.Status, new { @class = "form-label" })
                <select id="Status" name="Status">
                    @foreach (var item in Model.Statuses.Items)
                    {
                        <option class="item" value="@item.Value" @(Model.Status.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-9 col-xxl-12 pt-3 gap-2 d-flex align-self-end justify-content-end">
                <button class="btn btn-primary search" tabindex="0" type="submit">
                    <i class="search icon"></i> Search
                </button>
                <a href="@Url.Action("Search", "Suspense")" class="btn btn-secondary" id="reset">
                    <i class="undo icon"></i> Reset search
                </a>
            </div>

        </div>

    </div>

}