@model Admin.Models.Suspense.DetailsViewModel

@{
    ViewBag.Title = "Suspense";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { @Model.AccountNumber }

@section Subheader { Suspense details }

@section Actions {
    @Html.ActionLink("Create note", "Create", "SuspenseNote", new { id = Model.SuspenseId }, new { @class = "btn btn-primary" })
}

@Html.HiddenFor(m => m.AccountNumber)

<div class="mb-3">
    @Html.Partial("_Header", Model)
</div>

<div class="d-flex flex-wrap mb-3">
    <div class="me-auto p-0">
        <h2>
            Notes
        </h2>
    </div>
</div>

@Html.Action("_ListForSuspense", "SuspenseNote", new { id = Model.SuspenseId })

<div class="d-flex flex-wrap mb-3">
    <div class="me-auto p-0">
        <h2>
            Journals
        </h2>
    </div>
</div>

@{ Html.RenderPartial("_AllocatedList", Model); }

@Html.ActionLink("Back", "Back", "Suspense", null, new { @class = "btn btn-secondary" })