@model Admin.Models.MetadataKey.SearchCriteria

@using (Html.BeginForm("Search", "MetadataKey", FormMethod.Get))
{

    <div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", size = 50, placeholder = "Enter name" })
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-sm-0">
                @Html.LabelFor(m => m.EntityType, new { @class = "form-label" })
                <select id="EntityType" name="EntityType">
                    <option value="">None</option>
                    @foreach (var item in Model.EntityTypes.Items)
                    {
                        <option class="item" value="@item.Value" @(Model.EntityType.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xxl-8 pt-3 offset-sm-6 offset-md-0 gap-2 d-flex align-self-end justify-content-end">
                <button class="btn btn-primary search" tabindex="0" type="submit">
                    <i class="search icon"></i> Search
                </button>
                <a href="@Url.Action("Search", "MetadataKey")" class="btn btn-secondary" id="reset">
                    <i class="undo icon"></i> Reset search
                </a>
            </div>

        </div>
    </div>

}

