@model Admin.Models.MetadataKey.EditViewModel
@{
    ViewBag.Title = "Edit metadata key";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        @Model.Name
        <div class="sub header">
            Metadata key details
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "MetadataKey", FormMethod.Post))
{

    <div class="ui form">

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.IsASystemType)
        @Html.HiddenFor(m => m.EntityType)

        <div class="four wide field">
            @Html.LabelFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Description)
            @Html.EditorFor(m => m.Description)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.IsASystemType)
            @Model.IsASystemType.ToYesNoString()
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.EntityType)
            @Html.DisplayFor(m => m.EntityType)
        </div>

    </div>

    <br />

    <input type="submit" value="Save" class="ui primary button" />
    @Html.ActionLink("Back", "Back", "MetadataKey", null, new { @class = "ui button" })

}

@section Scripts {
    <script type="text/javascript">
        $('.ui.dropdown').dropdown({
            match: 'both'
        });
    </script>
}
