@{
    ViewBag.Title = "Settings";
}

@section Header { Settings }

@section Subheader { Settings maintenance }

<div class="list-group">
    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "AccountReferenceValidator")" class="list-group-item list-group-item-action">Account reference validators</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "CheckDigitConfiguration")" class="list-group-item list-group-item-action">Check digit configurations</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "EReturnTemplate")" class="list-group-item list-group-item-action">eReturn templates</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "Fund")" class="list-group-item list-group-item-action">Funds</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "FundGroup")" class="list-group-item list-group-item-action">Fund groups</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "FundMessage")" class="list-group-item list-group-item-action">Fund messages</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("ListMaintainingNavigation", "ImportProcessingRule")" class="list-group-item list-group-item-action">Import processing rules</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "ImportType")" class="list-group-item list-group-item-action">Import types</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "MetadataKey")" class="list-group-item list-group-item-action">Metadata keys</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "MethodOfPayment")" class="list-group-item list-group-item-action">MOP codes</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "Office")" class="list-group-item list-group-item-action">Office codes</a>
    }


    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "PaymentIntegration")" class="list-group-item list-group-item-action">Payment integrations</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "Role")" class="list-group-item list-group-item-action">Roles</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "SystemMessage")" class="list-group-item list-group-item-action">System messages</a>
    }

    @if (User.IsInRole(Role.SystemAdmin))
    {
        <a href="@Url.Action("List", "Vat")" class="list-group-item list-group-item-action">VAT codes</a>
    }
</div>