@model Admin.Models.CheckDigitConfiguration.DetailsViewModel
@{
    ViewBag.Title = "Check digit configuration";
}

@section Header { @Model.Name }

@section Subheader { Check digit configuration details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}

<div>

    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        @Html.LabelFor(m => m.Name, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Type, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Type)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Modulus, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Modulus)
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.SourceSubstitutions))
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.SourceSubstitutions, new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.SourceSubstitutions)
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.ResultSubstitutions))
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.ResultSubstitutions, new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.ResultSubstitutions)
            </div>
        </div>
    }

    <div class="mb-3">
        @Html.LabelFor(m => m.Weightings, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Weightings)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ApplySubtraction, new { @class = "form-label fw-bold" })
        <div class="form-label">
            <div class="form-check form-switch">
                @Html.CheckBoxFor(m => m.ApplySubtraction, new { @class = "form-check-input", role = "switch", @disabled = true })
            </div>
        </div>
    </div>

    @Html.ActionLink("Back", "Back", "CheckDigitConfiguration", null, new { @class = "btn btn-secondary" })

</div>
