@model Admin.Models.EReturn.EditViewModel

<div class="row">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
        @Html.Label("Date and time", new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.EReturn.EReturn.CreatedAt, new { @class = "form-label mb-0" })
        </div>
    </div>
    @if (!string.IsNullOrEmpty(@Model.PspReference))
    {
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            @Html.Label("PSP reference", new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.PspReference, new { @class = "form-label mb-0" })
            </div>
        </div>
    }
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
        @Html.Label("Template", new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.EReturn.EReturn.Template.Name, new { @class = "form-label mb-0" })
        </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
        @Html.Label("Status", new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.EReturn.EReturn.EReturnStatus.DisplayName, new { @class = "form-label mb-0" })
        </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
        @Html.Label("Created by", new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.EReturn.EReturn.CreatedByUser.DisplayName, new { @class = "form-label mb-0" })
        </div>
    </div>
    @if (Model.EReturn.EReturn.ApprovedByUserId.HasValue)
    {
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            @Html.Label("Approved by", new { @class = "form-label fw-bold" })
            <div class="form-label">
                @Html.DisplayFor(m => m.EReturn.EReturn.ApprovedByUser.DisplayName, new { @class = "form-label mb-0" })
            </div>
        </div>
    }
</div>