@model Admin.Models.EReturn.SearchCriteria

@using (Html.BeginForm("Search", "EReturn", FormMethod.Get))
{
    <div class="ui segment">
        <div class="ui form">
            <div class="four fields">
                <div class="field">
                    <label class="">Reference</label>
                    @Html.TextBoxFor(m => m.Reference, new { size = 10, placeholder = "Enter reference" })
                </div>
                <div class="field">
                    <label class="">Start date</label>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.StartDate, new { size = 10, placeholder = "Start date", type = "date", style = "width:145px;" })
                    </div>
                </div>
                <div class="field">
                    <label class="">End date</label>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.EndDate, new { size = 10, placeholder = "End date", type = "date", style = "width:145px;" })
                    </div>
                </div>

                <div class="field">
                    <label>Template</label>
                    <div class="ui fluid search selection dropdown">
                        @Html.HiddenFor(x => x.TemplateId)
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow" style="width: 100px;">Select template</div>
                        <div class="menu">
                            <div class="item" data-value="">
                                None
                            </div>
                            @foreach (var item in Model.Templates.Items)
                            {
                                <div class="item" data-value="@item.Value">
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="four fields">

                <div class="field">
                    <label>Status</label>
                    <div class="ui fluid search selection dropdown">
                        @Html.HiddenFor(x => x.StatusId)
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow" style="width: 100px;">Select status</div>
                        <div class="menu">
                            <div class="item" data-value="">
                                None
                            </div>
                            @foreach (var item in Model.Statuses.Items)
                            {
                                <div class="item" data-value="@item.Value">
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Type</label>
                    <div class="ui fluid search selection dropdown">
                        @Html.HiddenFor(x => x.EReturnType)
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow" style="width: 100px;">Select type</div>
                        <div class="menu">
                            <div class="item" data-value="">
                                None
                            </div>
                            @foreach (var item in Model.Types.Items)
                            {
                                <div class="item" data-value="@item.Value">
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="">Amount (£)</label>
                    @Html.TextBoxFor(m => m.Amount, new { size = 6, type = "text", placeholder = "Enter amount", @class = "monetary-amount", @maxlength = "18" })
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui icon blue floated right button" tabindex="0" type="submit" id="SearchButton">
                        <i class="search icon"></i> Search
                    </button>
                </div>

            </div>
        </div>
    </div>
    
}

<script>
    $('.ui.dropdown').dropdown({
        match: 'both'
    });

</script>