@using BusinessLogic.Extensions
@using BusinessLogic.Enums
@model Admin.Models.EReturn.EditViewModel
@{
    ViewBag.Title = "Edit EReturn";
}

@section Header {
    <h1 class="ui header">
        @Model.EReturn.EReturn.EReturnNo
        <div class="sub header">
            View / edit eReturn information
        </div>
    </h1>
}

@section Messages {
    @if (Model.Message != null) { Html.RenderPartial("_Message", Model.Message); }
}

@Html.Partial("_Header")

@using (Html.BeginForm("Edit", "EReturn", FormMethod.Post))
{

    <div class="ui fluid two item menu">
        <a class="active item" data-tab="ereturn-tab">
            eReturn details<br />
            <div class="ui massive label transaction-total">£@Model.EReturn.Amount.ToTwoDecimalPlaces()</div>
        </a>
        <a class="item" data-tab="analysis-tab">
            @((EReturnType)Model.EReturn.EReturn.TypeId == EReturnType.Cash ? "Cash analysis" : "Cheque analysis")
            <br />
            <div class="ui massive label analysis-total">
                £@((EReturnType)Model.EReturn.EReturn.TypeId == EReturnType.Cash ? Model.Cash.Total.ToTwoDecimalPlaces() : Model.Cheques == null ? 0 : Model.Cheques.Sum(x => x.Amount).ToTwoDecimalPlaces())
            </div>
        </a>
    </div>

    @Html.HiddenFor(m => m.EReturn.EReturn.Id)
    @Html.HiddenFor(m => m.EReturn.EReturn.EReturnNo)
    @Html.HiddenFor(m => m.EReturn.EReturn.TypeId)
    @Html.HiddenFor(m => m.EReturn.EReturn.StatusId)

    <div class="ui form">
        <div class="ui active tab" data-tab="ereturn-tab">
            <table class="ui table">
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>VAT code</th>
                    </tr>
                </thead>
                <tbody id="template-rows">
                    @if (Model.Transactions.Any())
                    {
                        for (int i = 0; i < Model.Transactions.Count; i++)
                        {
                            var templateRow = Model.EReturn.EReturn.Template.TemplateRows.FirstOrDefault(x => x.Id == Model.Transactions[i].TemplateRowId);

                            <tr>
                                <td>
                                    @Html.HiddenFor(m => m.Transactions[i].Id)
                                    @Html.HiddenFor(m => m.Transactions[i].TemplateRowId)
                                    @Html.EReturnTemplateRowReferenceEditor(templateRow, Model.Transactions[i].Reference, i)
                                </td>
                                <td>
                                    @if (templateRow.DescriptionOverride)
                                    {
                                        @Html.TextBoxFor(m => m.Transactions[i].Description, new { @maxlength = "100" })
                                    }
                                    else
                                    {
                                        @Model.Transactions[i].Description
                                        @Html.HiddenFor(m => m.Transactions[i].Description)
                                    }
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => Model.Transactions[i].Amount, "{0:F2}", new { @class = "transaction-value monetary-amount", @maxlength = "18" })
                                </td>
                                <td>
                                    @if (templateRow.VatOverride)
                                    {
                                        <div class="ui fluid search selection dropdown sourceVat">
                                            @Html.HiddenFor(m => m.Transactions[i].VatCode)
                                            <i class="dropdown icon"></i>
                                            <div class="default text no-overflow">Select VAT code</div>
                                            <div class="menu">
                                                @foreach (var vatCodeItem in Model.VatCodes.Items)
                                                {
                                                    <div class="item" data-value="@vatCodeItem.Value">@vatCodeItem.Text</div>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Model.Transactions[i].VatCode
                                        @Html.HiddenFor(m => m.Transactions[i].VatCode)
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if ((EReturnType)Model.EReturn.EReturn.TypeId == EReturnType.Cash)
            {
                @Html.HiddenFor(m => m.Cash.Id)
                <div class="ui tab" data-tab="analysis-tab">
                <table class="ui table">
                    <thead>
                        <tr>
                            <th>Denomination</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Bag number</td>
                        <td>@Html.TextBoxFor(m => m.Cash.BagNumber, new { @class = "bag-number", @maxlength = "50" })</td>
                    </tr>
                    <tr>
                        <td>£50</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pounds50, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "50", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>£20</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pounds20, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "20", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>£10</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pounds10, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "10", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>£5</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pounds5, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "5", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>£2</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pounds2, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "2", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>£1</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pounds1, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "1", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>50p</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pence50, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "0.50", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>20p</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pence20, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "0.20", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>10p</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pence10, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "0.10", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>5p</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pence5, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "0.05", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>2p</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pence2, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "0.02", @maxlength = "18" })</td>
                    </tr>
                    <tr>
                        <td>1p</td>
                        <td>@Html.TextBoxFor(m => m.Cash.Pence1, "{0:F2}", new { @class = "analysis-value monetary-amount", @data_step = "0.01", @maxlength = "18" })</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        }

        @if ((EReturnType)Model.EReturn.EReturn.TypeId == EReturnType.Cheque)
            {
            <div class="ui tab" data-tab="analysis-tab">
                <table class="ui table">
                    <thead>
                        <tr>
                            <th>Name on cheque</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="cheque-rows">
                        @if(Model.Cheques != null)
                        {
                            for (int i = 0; i < Model.Cheques.Count; i++)
                            {
                                <tr>
                                    <td>@Html.TextBoxFor(m => m.Cheques[i].Name, new { @maxlength = "100" })</td>
                                    <td>@Html.TextBoxFor(m => m.Cheques[i].Amount, "{0:F2}", new { @class = "analysis-value monetary-amount", @maxlength = "18" })</td>
                                    <td>
                                        <a class="ui red icon button remove-cheque" data-remove="@i">
                                            <i class="ui trash icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">
                                <a id="add-row" class="ui button blue add-cheque">Add row</a>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }


        <div class="page-actions--footer">
            <div class="field">
                @Html.ActionLink("Back", "Back", "EReturn", null, new { @class = "ui large button" })
            </div>
        </div>
    </div>

    <div class="page-actions">
        <button type="submit" id="submitprint" value="Submit" name="action" class="ui right floated positive labeled icon button print submit-button"><i class="ui thumbs up icon"></i> Print & submit</button>
        <button type="submit" value="Edit" name="action" class="ui right floated primary labeled icon button save-button"><i class="ui save icon"></i>Save draft</button>
        @if (User.IsInRole(Role.EReturnDelete))
        {
            var deleteLinkText =
                 ((EReturnStatus)Model.EReturn.EReturn.StatusId == EReturnStatus.New
                 || (EReturnStatus)Model.EReturn.EReturn.StatusId == EReturnStatus.InProgress)
                 ? "Void"
                 : "Delete";

            @Html.ActionLink(deleteLinkText, "Delete", "EReturn", new { id = Model.EReturn.EReturn.Id }, new { @class = "ui right floated red button delete-ereturn" })
        }
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/app/ereturn")
}