@model Admin.Models.Payment.Address
@{
    ViewBag.Title = "Address";
}

@section Messages {
    @if (Model.Message != null) { Html.RenderPartial("_Message", Model.Message); }
}

@section Header { Payment }

@section Subheader { Add billing address }

<div>
    @if (!string.IsNullOrWhiteSpace(ViewBag.CallRecordingMsg))
    {
        <div class="alert alert-warning">
            @ViewBag.CallRecordingMsg
        </div>
    }
</div>

@using (Html.BeginForm("Address", "Payment", FormMethod.Post))
{
    <div>

        <h3>
            Billing address
        </h3>

        <div class="row mb-3">
            <div class="col col-sm-7 col-lg-6 col-xl-5 col-xxl-4">
                @Html.LabelFor(m => m.PayeeName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control", maxlength = "50" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.PayeeName)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-7 col-lg-6 col-xl-5 col-xxl-4">
                @Html.LabelFor(m => m.AddressLine1, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", maxlength = "50" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.AddressLine1)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-7 col-lg-6 col-xl-5 col-xxl-4">
                @Html.LabelFor(m => m.AddressLine2, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", maxlength = "50" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.AddressLine2)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-7 col-lg-6 col-xl-5 col-xxl-4">
                @Html.LabelFor(m => m.AddressLine3, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.AddressLine3, new { @class = "form-control", maxlength = "50" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.AddressLine3)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-7 col-lg-6 col-xl-5 col-xxl-4">
                @Html.LabelFor(m => m.AddressLine4, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.AddressLine4, new { @class = "form-control", maxlength = "50" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.AddressLine4)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-3 col-lg-2">
                @Html.LabelFor(m => m.PostCode, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", maxlength = "10" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.PostCode)
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Cancel", "Cancel", null, new { @class = "btn btn-secondary" })
            <button value="SaveAddress" name="action" type="submit" class="btn btn-primary">Next</button>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/app/payment")
}
