@model Admin.Models.ImportProcessingRuleAction.EditViewModel
@{
    ViewBag.Title = "Edit import processing rule action";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { Edit import processing rule action }

@using (Html.BeginForm("Edit", "ImportProcessingRuleAction", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ImportProcessingRuleId)

    <div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.ImportProcessingRuleFieldId, new { @class = "form-label" })
                <select id="ImportProcessingRuleFieldId" name="ImportProcessingRuleFieldId">
                    <option value="">None</option>
                    @foreach (var item in Model.Fields.Items)
                    {
                        <option class="item" value="@item.Value" @(Model.ImportProcessingRuleFieldId.ToString().Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.ImportProcessingRuleFieldId)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.Value, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.Value)
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "Back", "ImportProcessingRule", null, new { @class = "btn btn-secondary" })
        </div>

    </div>

}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            accessibleAutocomplete.enhanceSelectElement({
                displayMenu: 'overlay',
                autoSelect: false,
                confirmOnBlur: false,
                showAllValues: true,
                defaultValue: '',
                preserveNullOptions: true,
                placeholder: 'Select field',
                dropdownArrow: () => paymentsAdmin.controls.autocomplete.downarrow,
                selectElement: document.querySelector('#ImportProcessingRuleFieldId')
            });

        });
    </script>

}