@model Admin.Models.User.EditViewModel
@{
    ViewBag.Title = "Create user";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { Create user }

@section Subheader { User details }

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)

    <div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.DisplayName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.DisplayName)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.OfficeCode, new { @class = "form-label" })
                <select id="OfficeCode" name="OfficeCode">
                    <option value="">None</option>
                    @foreach (var item in Model.Offices.Items)
                    {
                        <option class="item" value="@item.Value" @(!string.IsNullOrEmpty(Model.OfficeCode) && Model.OfficeCode.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.OfficeCode)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.ExpiryDays, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.ExpiryDays, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.ExpiryDays)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.Disabled, new { @class = "form-label" })
                <div class="form-check form-switch">
                    @Html.CheckBoxFor(m => m.Disabled, new { @class = "form-check-input", role = "switch" })
                </div>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.Disabled)
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "Back", "User", null, new { @class = "btn btn-secondary" })
        </div>

    </div>
}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            accessibleAutocomplete.enhanceSelectElement({
                displayMenu: 'overlay',
                autoSelect: false,
                confirmOnBlur: false,
                showAllValues: true,
                defaultValue: '',
                preserveNullOptions: true,
                placeholder: 'Select office code',
                dropdownArrow: () => paymentsAdmin.controls.autocomplete.downarrow,
                selectElement: document.querySelector('#OfficeCode')
            });

        });
    </script>
}