@model Admin.Models.User.DetailsViewModel
@{
    ViewBag.Title = "User";
}

@section Header {
    <h1 class="ui header">
        @Model.UserName
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "ui blue button right floated" })
        <div class="sub header">
            User details
        </div>
    </h1>
}

<div class="ui form">

    @Html.HiddenFor(m => m.UserId)

    <div class="ui vertical segment">

        <div class="four wide field">
            @Html.LabelFor(m => m.LastLogin)
            @if (Model.LastLogin.HasValue)
            {
                @Html.DisplayFor(m => m.LastLogin)
            }
            else
            {
                <span>The user has never logged in</span>
            }
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.DisplayName)
            @Html.DisplayFor(m => m.DisplayName)
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.ExpiryDays)
            @Html.DisplayFor(m => m.ExpiryDays)
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.OfficeCode)
            @Html.DisplayFor(m => m.OfficeCode)
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Disabled)
            @Html.DisplayFor(m => m.Disabled)
        </div>
    </div>

    <div class="ui vertical segment">
        <h2>User roles</h2>
        @Html.Action("_ListForUser", "UserRole", new { id = Model.UserId })
    </div>

    <div class="ui vertical segment">
        <h2>User fund groups</h2>
        @Html.Action("_ListForUser", "UserFundGroup", new { id = Model.UserId })
    </div>

    <div class="ui vertical segment">
        <h2>User templates</h2>
        @Html.Action("_ListForUser", "UserTemplate", new { id = Model.UserId })
    </div>

    <div class="ui vertical segment">
        <h2>User methods of payment</h2>
        @Html.Action("_ListForUser", "UserMethodOfPayment", new { id = Model.UserId })
    </div>

</div>

<br />

@Html.ActionLink("Back", "Back", "User", null, new { @class = "ui button" })

