@model Admin.Models.Office.DetailsViewModel
@{
    ViewBag.Title = "Office";
}

@section Header { @Model.Name }

@section Subheader { Office details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }, new { @class = "btn btn-secondary" })
}

<div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Code, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Code)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Name, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    @Html.ActionLink("Back", "Back", "Office", null, new { @class = "btn btn-secondary" })

</div>