@model Admin.Models.Import.SearchCriteria

@using (Html.BeginForm("Search", "Import", FormMethod.Get))
{

    <div class="ui segment">
        <div class="ui form">
            <div class="six fields">
                <div class="field">
                    <label>Data type</label>
                    <div class="ui fluid search selection dropdown">
                        @Html.HiddenFor(x => x.DataType, new { size = 4 })
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow" style="width: 100px;">Select import type</div>
                        <div class="menu">
                            <div class="item" data-value="">
                                None
                            </div>
                            @foreach (var item in Model.DataTypes.Items)
                            {
                                <div class="item" data-value="@item.Value">
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Import type</label>
                    <div class="ui fluid search selection dropdown">
                        @Html.HiddenFor(x => x.ImportTypeId, new { size = 4 })
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow" style="width: 100px;">Select import type</div>
                        <div class="menu">
                            <div class="item" data-value="">
                                None
                            </div>
                            @foreach (var item in Model.ImportTypes.Items)
                            {
                                <div class="item" data-value="@item.Value">
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Current status</label>
                    <div class="ui fluid search selection dropdown">
                        @Html.HiddenFor(x => x.StatusId, new { size = 4 })
                        <i class="dropdown icon"></i>
                        <div class="default text no-overflow" style="width: 100px;">Select current status</div>
                        <div class="menu">
                            <div class="item" data-value="">
                                None
                            </div>
                            @foreach (var item in Model.Statuses.Items)
                            {
                                <div class="item" data-value="@item.Value">
                                    @item.Text
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Start date</label>
                    <div class="ui input left icon" style="min-width: 160px;">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.StartDate, new { size = 10, placeholder = "Start date", type = "date", style = "min-width:145px;" })
                    </div>
                </div>
                <div class="field">
                    <label>End date</label>
                    <div class="ui input left icon" style="min-width: 160px;">
                        <i class="calendar icon"></i>
                        @Html.TextBoxFor(m => m.EndDate, new { size = 10, placeholder = "End date", type = "date", style = "min-width:145px;" })
                    </div>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui icon blue button" tabindex="0" type="submit">
                        <i class="search icon"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>

}