@model Admin.Models.Import.SearchCriteria

@using (Html.BeginForm("Search", "Import", FormMethod.Get))
{

<div>

    <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">            
            @Html.LabelFor(m => m.DataType, new { @class = "form-label" })
            <select id="DataType" name="DataType">
                <option value="">None</option>
                @foreach (var item in Model.DataTypes.Items)
                {
                    <option class="item" value="@item.Value" @(Model.DataType.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-sm-0">
            @Html.LabelFor(m => m.ImportTypeId, new { @class = "form-label" })
            <select id="ImportTypeId" name="ImportTypeId">
                <option value="">None</option>
                @foreach (var item in Model.ImportTypes.Items)
                {
                    <option class="item" value="@item.Value" @(Model.ImportTypeId.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-md-0">
            @Html.LabelFor(m => m.StatusId, new { @class = "form-label" })
            <select id="StatusId" name="StatusId">
                <option value="">None</option>
                @foreach (var item in Model.Statuses.Items)
                {
                    <option class="item" value="@item.Value" @(Model.StatusId.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                }
            </select>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-lg-0">
            @Html.LabelFor(m => m.StartDate, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", size = 10, placeholder = "Start date", type = "date" })
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-xxl-0">
            @Html.LabelFor(m => m.EndDate, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", size = 10, placeholder = "End date", type = "date" })
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xxl-2 pt-3 offset-lg-5 offset-xxl-0 gap-2 d-flex align-self-end justify-content-end">
            <button class="btn btn-primary search" tabindex="0" type="submit">Search</button>
            <a href="@Url.Action("Search", "Import")" class="btn btn-secondary" id="reset">Reset search</a>
        </div>
    </div>
</div>

}