@model Admin.Models.FundMessage.SearchCriteria

@using (Html.BeginForm("Search", "FundMessage", FormMethod.Get))
{

    <div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                @Html.LabelFor(m => m.FundCode, new { @class = "form-label" })
                <select id="FundCode" name="FundCode">
                    <option value="">None</option>
                    @foreach (var item in Model.Funds.Items)
                    {
                        <option class="item" value="@item.Value" @(!Model.FundCode.IsNullOrEmpty() && Model.FundCode.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-sm-0">
                @Html.LabelFor(m => m.Message, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Message, new { size = 50, placeholder = "Enter message", @class = "form-control" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xxl-8 pt-3 offset-sm-6 offset-md-0 gap-2 d-flex align-self-end justify-content-end">
                <button class="btn btn-primary search" tabindex="0" type="submit">Search</button>
                <a href="@Url.Action("Search", "FundMessage")" class="btn btn-secondary" id="reset">Reset search</a>
            </div>

        </div>

    </div>

}
