@model Admin.Models.FundMessage.EditViewModel
@{
    ViewBag.Title = "Create fund message";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { Create fund message }

@section Subheader { Fund message details }

@using (Html.BeginForm("Create", "FundMessage", FormMethod.Post))
{

    <div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.FundCode, new { @class = "form-label" })
                <select id="FundCode" name="FundCode">
                    <option value="">None</option>
                    @foreach (var item in Model.Funds.Items)
                    {
                        <option class="item" value="@item.Value" @(!string.IsNullOrWhiteSpace(Model.FundCode) && Model.FundCode.Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.FundCode)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.Message, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "Back", "FundMessage", null, new { @class = "btn btn-secondary" })
        </div>

    </div>

}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            accessibleAutocomplete.enhanceSelectElement({
                displayMenu: 'overlay',
                autoSelect: false,
                confirmOnBlur: false,
                showAllValues: true,
                defaultValue: '',
                preserveNullOptions: true,
                placeholder: 'Select fund type',
                dropdownArrow: () => paymentsAdmin.controls.autocomplete.downarrow,
                selectElement: document.querySelector('#FundCode')
            });

        });
    </script>
}