@model Admin.Models.FundMessage.DetailsViewModel
@{
    ViewBag.Title = "Fund message";
}

@section Header { @Model.FundName - (@Model.FundCode) }

@section Subheader { Fund message details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}

<div>

    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        @Html.LabelFor(m => m.FundName, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.FundName)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Message, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Message)
        </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h3>
                Metadata
            </h3>
        </div>
    </div>

    <div class="mb-3">
        @Html.Action("_ListForFundMessage", "FundMessageMetadata", new { id = Model.Id })
    </div>

    @Html.ActionLink("Back", "Back", "FundMessage", null, new { @class = "btn btn-secondary" })

</div>