@using PagedList.Mvc


@model Admin.Models.FundMessage.ListViewModel
@{
    ViewBag.Title = "Fund messages";
}

@section Header {
    <h1 class="ui header">
        Fund messages
        @Html.ActionLink("Create fund message", "Create", new { }, new { @class = "ui blue button right floated" })
        <div class="sub header">
            Fund message management
        </div>
    </h1>
}

@Html.Partial("_Search", Model.SearchCriteria)

@if (Model.Items != null && Model.Items.Any())
{
    <table class="ui celled table striped">
        <thead>
            <tr>
                <th>
                    Fund type
                </th>
                <th>
                    Message
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Fund.FundName) - (@Html.DisplayFor(m => item.FundCode))
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Message)
                    </td>
                    <td>
                        @Html.ActionLink("View", "Details", new { id = item.Id }, new { @class = "ui button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "ui button" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">
                    <div class="ui pagination menu">
                        @if (Model.Pages > 1)
                        {
                            @Html.PagedListPager(Model.Items, page => Url.Action("Search", new
                        {
                            page = page,
                            amount = Model.SearchCriteria.FundCode,
                            fundCode = Model.SearchCriteria.Message,
                        }))
                        }
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="ui info message">
        There are no fund messages in the system
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $('.ui.dropdown').dropdown({
            match: 'both'
        });
    </script>
}

