@model Admin.Models.UserFundGroup.EditViewModel
@{
    ViewBag.Title = "Edit user fund groups";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        User fund groups
        <div class="sub header">
            Fund group selection
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "UserFundGroup", FormMethod.Post))
{

    @Html.HiddenFor(m => m.UserId)

    if (Model.FundGroups != null && Model.FundGroups.Any())
    {
        <table class="ui celled table striped teal">
            <thead>
                <tr>
                    <th>
                        Fund groups
                    </th>
                </tr>
            </thead>

            @{ var fundGroups = Model.FundGroups.ToList(); }

            @for (var i = 0; i < fundGroups.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => fundGroups[i].Id)
                        @Html.HiddenFor(x => fundGroups[i].Text)
                        @Html.CheckBoxFor(x => fundGroups[i].IsChecked)
                        @Html.DisplayFor(x => fundGroups[i].Text)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="ui info message">
            No available fund groups
        </div>
    }

    <input type="submit" value="Save" class="ui primary button" />
    @Html.ActionLink("Back", "Back", "UserRole", null, new { @class = "ui button" })

}
