@model Admin.Models.PaymentIntegration.DetailsViewModel
@{
    ViewBag.Title = "Payment integration";
}


@section Header { @Model.Name }

@section Subheader { Payment integration details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}

<div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Name, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.BaseUri, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.BaseUri)
        </div>
    </div>
    
    @Html.ActionLink("Back", "Back", "PaymentIntegration", null, new { @class = "btn btn-secondary" })

</div>
