@model Admin.Models.PaymentIntegration.EditViewModel
@{
    ViewBag.Title = "Edit payment integration";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { @Model.Name }

@section Subheader { Payment integration details }


@using (Html.BeginForm("Edit", "PaymentIntegration", FormMethod.Post))
{
    <div>

        @Html.HiddenFor(m => m.Id)

        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-sm-9 col-md-7 col-lg-6">
                @Html.LabelFor(m => m.BaseUri, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.BaseUri, new { @class = "form-control" })
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.BaseUri)
                </div>
            </div>
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back", "Back", "PaymentIntegration", null, new { @class = "btn btn-secondary" })

    </div>
}
