@model IList<Admin.Models.PaymentIntegration.DetailsViewModel>
@{
    ViewBag.Title = "Payment integrations";
}

@section Header { Payment integrations }

@section Subheader { Payment integration management }

@section Actions {
    @Html.ActionLink("Create payment integration", "Create", new { }, new { @class = "btn btn-secondary" })
}

@if (Model != null)
{
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover mt-2">
        <thead>
            <tr>
                <th scope="col">
                    @Html.LabelFor(m => Model.FirstOrDefault().Id)
                </th>
                <th scope="col">
                    @Html.LabelFor(m => Model.FirstOrDefault().Name)
                </th>
                <th scope="col">
                    @Html.LabelFor(m => Model.FirstOrDefault().BaseUri)
                </th>
                <th scope="col">
                    <span class="visually-hidden">Actions</span>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.BaseUri)
                </td>
                <td class="text-end">
                    @Html.ActionLink("View", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" })

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
                </td>
            </tr>
        }
    </table>
</div>

}
else
{
    Html.RenderPartial("_NothingSpecified", "payment integrations");
}

