@model Admin.Models.Fund.SearchCriteria

@using (Html.BeginForm("Search", "Fund", FormMethod.Get))
{

    <div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                @Html.LabelFor(m => m.FundCode, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.FundCode, new { size = 50, placeholder = "Enter code", @class = "form-control" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 pt-2 pt-sm-0">
                @Html.LabelFor(m => m.FundName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.FundName, new { size = 50, placeholder = "Enter name", @class = "form-control" })
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xxl-8 pt-3 offset-sm-6 offset-md-0 gap-2 d-flex align-self-end justify-content-end">
                <button class="btn btn-primary search" tabindex="0" type="submit">
                    <i class="search icon"></i> Search
                </button>
                <a href="@Url.Action("Search", "Fund")" class="btn btn-secondary" id="reset">
                    <i class="undo icon"></i> Reset search
                </a>
            </div>

        </div>

    </div>

}