@using PagedList.Mvc

@model Admin.Models.Fund.ListViewModel
@{
    ViewBag.Title = "Funds";
}

@section Header {
    <h1 class="ui header">
        Funds
        @Html.ActionLink("Create fund", "Create", new { }, new { @class = "ui blue button right floated" })
        <div class="sub header">
            Fund management
        </div>
    </h1>
}

@Html.Partial("_Search", Model.SearchCriteria)

@if (Model.Items != null && Model.Items.Any())
{
    <table class="ui celled table striped">
        <thead>
            <tr>
                <th>
                    Fund code
                </th>
                <th>
                    Fund name
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.FundCode)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.FundName)
                    </td>
                    <td>
                        @Html.Label(item.Disabled ? "Disabled" : "Active")
                    </td>
                    <td>
                        @Html.ActionLink("View", "Details", new { id = item.FundCode }, new { @class = "ui button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.FundCode }, new { @class = "ui button" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui pagination menu">
                        @if (Model.Pages > 1)
                        {
                            @Html.PagedListPager(Model.Items, page => Url.Action("Search", new
                        {
                            page = page,
                            amount = Model.SearchCriteria.FundCode,
                            fundCode = Model.SearchCriteria.FundName,
                        }))
                        }
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="ui info message">
        There are no funds in the system
    </div>
}

