@model Admin.Models.ImportProcessingRule.EditViewModel
@{
    ViewBag.Title = "Create import processing rule";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        Create import processing rule
        <div class="sub header">
            Import processing rule details
        </div>
    </h1>
}

@using (Html.BeginForm("Create", "ImportProcessingRule", FormMethod.Post))
{
    <div class="ui form">

        <div class="four wide field">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Description)
            @Html.EditorFor(m => m.Description)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="field">
            @Html.LabelFor(m => m.IsGlobal)
            <div class="ui segment compact">
                <div class="ui fitted toggle checkbox">
                    @Html.CheckBoxFor(m => m.IsGlobal)
                </div>
            </div>
        </div>

        <div class="field">
            @Html.LabelFor(m => m.IsDisabled)
            <div class="ui segment compact">
                <div class="ui fitted toggle checkbox">
                    @Html.CheckBoxFor(m => m.IsDisabled)
                </div>
            </div>
        </div>

        <input type="submit" value="Save" class="ui primary button" />
        @Html.ActionLink("Back", "Back", "ImportProcessingRule", null, new { @class = "ui button" })

    </div>

}

@section Scripts {
    <script type="text/javascript">
        $('.ui.checkbox').checkbox({});
    </script>
}