@model Admin.Models.ImportProcessingRule.DetailsViewModel
@{
    ViewBag.Title = "Import processing rule";
}

@section Header { @Model.Name }

@section Subheader { Import processing rule details }

@section Actions {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}

<div>

    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        @Html.LabelFor(m => m.Description, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Status, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Status)
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Scope, new { @class = "form-label fw-bold" })
        <div class="form-label">
            @Html.DisplayFor(m => m.Scope)
        </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h2>
                Conditions
            </h2>
        </div>
    </div>

    <div class="mb-3">
        @Html.Action("_ListForImportProcessingRule", "ImportProcessingRuleCondition", new { id = Model.Id })
    </div>

    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h2>
                Actions
            </h2>
        </div>
    </div>

    <div class="mb-3">
        @Html.Action("_ListForImportProcessingRule", "ImportProcessingRuleAction", new { id = Model.Id })
    </div>

    <div class="d-flex flex-wrap mb-3">
        <div class="me-auto p-0">
            <h2>
                Import types
            </h2>
        </div>
    </div>

    <div class="mb-3">
        @Html.Action("_List", "ImportProcessingRuleImportType", new { id = Model.Id })
    </div>

    @Html.ActionLink("Back", "Back", "ImportProcessingRule", null, new { @class = "btn btn-secondary" })

</div>
