@model Admin.Models.ImportProcessingRuleImportType.EditViewModel
@{
    ViewBag.Title = "Create import type link";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header { Create import type link }

@section Subheader { Import type link details }

@using (Html.BeginForm("Create", "ImportProcessingRuleImportType", FormMethod.Post))
{
    <div>

        @Html.HiddenFor(m => m.ImportProcessingRuleId)

        <div class="row mb-3">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                @Html.LabelFor(m => m.ImportTypeId, new { @class = "form-label" })
                <select id="ImportTypeId" name="ImportTypeId">
                    <option value="">None</option>
                    @foreach (var item in Model.ImportTypes.Items)
                    {
                        <option class="item" value="@item.Value" @(Model.ImportTypeId != null && Model.ImportTypeId.ToString().Equals(item.Value) ? "selected" : String.Empty)>@item.Text</option>
                    }
                </select>
                <div class="form__element--error">
                    @Html.ValidationMessageFor(m => m.ImportTypeId)
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "Back", "ImportProcessingRuleImportType", null, new { @class = "btn btn-secondary" })
        </div>

    </div>

}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            accessibleAutocomplete.enhanceSelectElement({
                displayMenu: 'overlay',
                autoSelect: false,
                confirmOnBlur: false,
                showAllValues: true,
                defaultValue: '',
                preserveNullOptions: true,
                placeholder: 'Select import type',
                dropdownArrow: () => paymentsAdmin.controls.autocomplete.downarrow,
                selectElement: document.querySelector('#ImportTypeId')
            });
        });
    </script>

}
