@model Admin.Models.AccountHolder.SearchCriteria

@using (Html.BeginForm("Search", "AccountHolder", FormMethod.Get))
{
    @Html.HiddenFor(x => x.FundCode, new { size = 4 })

    <div class="ui segment">
        <div class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>Account reference</label>
                    @Html.TextBoxFor(m => m.AccountReference, new { size = 50, placeholder = "Account reference" })
                </div>
                <div class="field">
                    <label>Postcode</label>
                    @Html.TextBoxFor(m => m.PostCode, new { size = 8, placeholder = "Postcode" })
                </div>
                <div class="field">
                    <label>House Number/Name</label>
                    @Html.TextBoxFor(m => m.HouseNumberName, new { size = 60, placeholder = "House Number/Name" })
                </div>
                <div class="field">
                    <label>Street</label>
                    @Html.TextBoxFor(m => m.PostCode, new { size = 30, placeholder = "Street" })
                </div>
                <div class="field">
                    <label>Surname</label>
                    @Html.TextBoxFor(m => m.PostCode, new { size = 30, placeholder = "Surname" })
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui icon blue button" tabindex="0" type="submit">
                        <i class="search icon"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>
}