@model Admin.Models.AccountHolder.DetailsViewModel
@{
    ViewBag.Title = "Account holder details";
}

@section Header {
    <h1 class="ui header">
        @Model.AccountReference
        @if (Model.ShowSelect)
        {
            @Html.ActionLink("Select", "SelectAccountReference", "Payment", new { id = Model.AccountReference }, new { @class = "ui green button right floated" })
        }
        @Html.ActionLink("Edit", "Edit", new { id = Model.AccountReference }, new { @class = "ui blue button right floated" })
        <div class="sub header">
            Account holder details
        </div>
    </h1>
}

<div class="ui form">

    @Html.HiddenFor(m => m.AccountReference)

    <div class="two fields">
        <div class="five wide field">
            @Html.LabelFor(m => m.Title)
            @Html.DisplayFor(m => m.Title)
        </div>
    </div>

    <div class="five wide field">
        @Html.LabelFor(m => m.Forename)
        @Html.DisplayFor(m => m.Forename)
    </div>

    <div class="five wide field">
        @Html.LabelFor(m => m.Surname)
        @Html.DisplayFor(m => m.Surname)
    </div>

    <div class="five wide field">
        @Html.LabelFor(m => m.Address)
        @Html.DisplayFor(m => m.Address)
    </div>

    <div class="five wide field">
        @Html.LabelFor(m => m.Postcode)
        @Html.DisplayFor(m => m.Postcode)
    </div>

    <div class="five wide field">
        @Html.LabelFor(m => m.FundMessage)
        @Html.DisplayFor(m => m.FundMessage)
    </div>

    <div class="five wide field">
        @Html.LabelFor(m => m.FundName)
        @Html.DisplayFor(m => m.FundName)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.PeriodDebit)
        @Html.DisplayFor(m => m.PeriodDebit)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.CurrentBalance)
        @Html.DisplayFor(m => m.CurrentBalance)
    </div>

    <div class="four wide field">
        @Html.LabelFor(m => m.UserField1)
        @string.Format("{0} {1} {2}",
            Model.UserField1,
            Model.UserField2,
            Model.UserField3)
    </div>
</div>

@*<div class="ui grid stackable">
        <div class="eight wide column">
            <div class="ui vertical segment">
                <strong>Account Number</strong><br>@Model.AccountReference
            </div>
            <div class="ui vertical segment">
                <strong>Title</strong><br>@Model.Title
            </div>
            <div class="ui vertical segment">
                <strong>Forename</strong><br>@Model.Forename
            </div>
            <div class="ui vertical segment">
                <strong>Surname</strong><br>@Model.Surname
            </div>
            <div class="ui vertical segment">
                <strong>Address</strong><br>
                @string.Format("{0} {1} {2} {3}",
                    Model.AddressLine1,
                    Model.AddressLine2,
                    Model.AddressLine3,
                    Model.AddressLine4)
            </div>
            <div class="ui vertical segment">
                <strong>Post Code</strong><br>@Model.Postcode
            </div>
            <div class="ui vertical segment">
                <strong>Standard Stop Message</strong><br>@Model.AccountHolderMessageReference
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui vertical segment">
                &nbsp;
            </div>
            <div class="ui vertical segment">
                <strong>Account Type</strong><br>@Model.FundName
            </div>
            <div class="ui vertical segment">
                <strong>Period Debt</strong><br>@Html.ToCurrency(Model.PeriodDebit)
            </div>
            <div class="ui vertical segment">
                <strong>Current Balance</strong><br>@Html.ToCurrency(Model.CurrentBalance)
            </div>
            <div class="ui vertical segment">
                &nbsp;
            </div>
            <div class="ui vertical segment">
                <strong>User Defined Information</strong><br>
                @string.Format("{0} {1} {2}",
                    Model.UserField1,
                    Model.UserField2,
                    Model.UserField3)
            </div>
            <div class="ui vertical segment">
                &nbsp;
            </div>
        </div>
    </div>*@

@Html.ActionLink("Back", "Back", "Fund", null, new { @class = "ui button" })
