@using PagedList.Mvc
@using BusinessLogic.Extensions
@model Admin.Models.AccountHolder.ListViewModel

@{
    ViewBag.Title = "Account holders";
}

@section Header { Account holders }

@section Subheader {
    Find an account holder
    @if (!string.IsNullOrEmpty(Model.FundName))
    {
        <span>within fund '@Model.FundName'</span>
    }
}

@section Actions {

    @Html.ActionLink("Create account holder", "Create", new { }, new { @class = "btn btn-secondary" })
    
}

<div class="border border-1 rounded p-2">
    @Html.Partial("_Search", Model.SearchCriteria)
</div>

@if (Model.Items != null && Model.Items.Any())
{
    <table class="table table-striped table-bordered table-hover mt-2">
        <thead>
            <tr>
                <th scope="col">Account reference</th>
                <th scope="col">Account name</th>
                <th scope="col">Address</th>
                <th scope="col">Balance (£)</th>
                <th scope="col" style="width: 280px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.AccountReference</td>
                    <td>@item.FullNameAndTitle()</td>
                    <td>@item.Address()</td>
                    <td style="text-align: right" class="@if ((item.CurrentBalance ?? 0) < 0) { @Html.Raw("td--negative") }">
                        @Html.ToCurrency(item.CurrentBalance)
                    </td>
                    <td style="text-align: right;">
                        @Html.ActionLink("View", "Details", new { id = item.AccountReference }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.AccountReference }, new { @class = "btn btn-secondary" })

                        @if (Model.SearchCriteria.IsAPaymentSearch)
                        {
                            @Html.ActionLink("Select", "SelectAccountReference", "Payment", new { id = item.AccountReference }, new { @class = "btn btn-secondary " })
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="ui pagination menu">
                        @if (Model.Pages > 1)
                        {
                            @Html.PagedListPager(Model.Items, page => Url.Action("Search", new
                            {
                                page = page,
                                FundCode = Model.SearchCriteria.FundCode,
                                AccountReference = Model.SearchCriteria.AccountReference,
                                HouseNumberName = Model.SearchCriteria.Address,
                                PostCode = Model.SearchCriteria.PostCode,
                                Surname = Model.SearchCriteria.Surname,
                            }))
                        }
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="ui info message">
        <div class="header">
            We couldn't find any matching account holders
        </div>
        <p>
            Please try again with different search criteria
        </p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/app/account-holders")
}
