@model Admin.Models.Vat.EditViewModel
@{
    ViewBag.Title = "Edit VAT code";
}

@section Messages {
    @if (TempData.ContainsKey("Message") && TempData["Message"] != null) { Html.RenderPartial("_Message", TempData["Message"]); }
}

@section Header {
    <h1 class="ui header">
        @Model.Code
        <div class="sub header">
            VAT code details
        </div>
    </h1>
}

@using (Html.BeginForm("Edit", "Vat", FormMethod.Post))
{

    <div class="ui form">

        @Html.HiddenFor(m => m.Code)

        <div class="four wide field">
            @Html.LabelFor(m => m.Code)
            @Html.DisplayFor(m => m.Code)
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.Percentage)
            @Html.EditorFor(m => m.Percentage)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.Percentage)
            </div>
        </div>

        <div class="four wide field">
            @Html.LabelFor(m => m.IsDisabled)
            @Html.EditorFor(m => m.IsDisabled)
            <div class="form__element--error">
                @Html.ValidationMessageFor(m => m.IsDisabled)
            </div>
        </div>

    </div>

    <div class="ui vertical segment">
        <h3 style="padding-bottom:10px;">
            Metadata
            @Html.ActionLink("Add metadata", "Create", "VatMetadata", new { id = Model.Code }, new { @class = "ui blue button right floated" })
        </h3>
        @Html.Action("_EditListForVat", "VatMetadata", new { id = Model.Code })

    </div>

    <br />

    <input type="submit" value="Save" class="ui primary button" />
    @Html.ActionLink("Back", "Back", "Vat", null, new { @class = "ui button" })

}
